CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

CONFIG_KERNEL_MIPS_FPU_EMULATOR=y

CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_natflow=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_shortcut-fe=n
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_dnsforwarder=n
CONFIG_PACKAGE_luci-app-ramfree=y

CONFIG_PACKAGE_adbyby=n
CONFIG_PACKAGE_antfs-mount=n
CONFIG_PACKAGE_automount=n
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_autosamba-ksmbd=n
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_block-mount=n
CONFIG_PACKAGE_kmod-fast-classifier=n
CONFIG_PACKAGE_kmod-fs-antfs=n
CONFIG_PACKAGE_kmod-fs-cifs=n
CONFIG_PACKAGE_kmod-fs-exfat=n
CONFIG_PACKAGE_kmod-fs-ext4=n
CONFIG_PACKAGE_kmod-fs-ksmbd=n
CONFIG_PACKAGE_kmod-fs-ntfs=n
CONFIG_PACKAGE_kmod-fs-vfat=n
CONFIG_PACKAGE_kmod-fuse=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-bypass=y
CONFIG_PACKAGE_luci-app-cifs-mount=n
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-sfe=n
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-cifs-mount-zh-cn=n
CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=y
CONFIG_PACKAGE_luci-i18n-turboacc-zh-cn=n
CONFIG_PACKAGE_microsocks=n
CONFIG_PACKAGE_samba36-server=n
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=n
CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir=n
CONFIG_PACKAGE_shadowsocksr-libev-ssr-server=n
CONFIG_PACKAGE_vsftpd-alt=n
CONFIG_XRAY_PROVIDE_V2RAY=n
CONFIG_TROJAN_GO_COMPRESS_UPX=n
CONFIG_V2RAY_COMPRESS_UPX=n
CONFIG_XRAY_COMPRESS_UPX=y
